# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TomatoCalculator.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\VS_Repos\JGBoswell\TomatoCalculator\.idea\.idea.TomatoCalculator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
