@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4" style="height: 6.5rem; background-color: #0e2161">
            <Image Style="height: 100%; display: block" Source="Images/boswell-logo-605.png" />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
